{% extends 'main/loggedInPage.html' %}
{% block main_content %}
{% load static %}
  <head>
    <title>Feed</title>
    <link rel="stylesheet" href="{% static 'styles/feed.css' %}" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>Feed</h1>
      <div class="newfrm">
        <p class="newmsg">New post:</p>
        <form method="POST">
          {% csrf_token %}
          {{ feed_form.as_p }}
          <button type="submit">Create</button>
        </form>
      </div>
      {% for post, replies in posts.items %}
        <div class="message">
          <p class="post-id">
            Post ID: {{ post.post_id }}
          </p>
          <p class="post-content">{{ post.content }}</p>
          {% for reply in replies %}
            <p class="reply-content">Reply: {{ reply.content }}</p>
          {% endfor %}
        </div>
      {% endfor %}
      <p class="EOM">(End of posts)</p>
    </div>
  </body>

{% endblock %}
