{% extends 'main/loggedInPage.html' %}
{% block main_content %}
{% load static %}

  <head>
      <title>Course</title>
      <link rel="stylesheet" href="{% static 'styles/mdb.min.css' %}" />
      <link rel="stylesheet" href="{% static 'styles/course.page.css' %}" type="text/css">
      <link rel="stylesheet" type="text/css" href="{% static 'styles/style_review.css' %}">
  </head>

  <body>
      <div class="row">
        <div class="col-2">
          <div
            class="nav flex-column nav-pills text-center"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <a
              class="nav-link active"
              id="v-pills-course_info-tab"
              data-mdb-toggle="pill"
              href="#v-pills-course_info"
              role="tab"
              aria-controls="v-pills-course_info"
              aria-selected="true"
              >Course Info</a
            >

            {% if course.teacher_id == user %}
            <a
              class="nav-link"
              id="v-pills-requsets-tab"
              data-mdb-toggle="pill"
              href="#v-pills-requsets"
              role="tab"
              aria-controls="v-pills-requsets"
              aria-selected="false"
              >Requsets to join</a
            >
            {% endif %}
          </div>
        </div>

        <div class="col-6">
          <div class="tab-content" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-course_info"
              role="tabpanel"
              aria-labelledby="v-pills-course_info-tab"
            >

              <label class="label">Course Name :</label>
              <p class='course_name'style="display:inline" >{{course.course_name.capitalize }}</p>

              <br></br>
              <label class="label">Course Description :</label>
              <p style="display:inline" >{{course.description}}</p>

              <br></br>
              <label class="label">Category :</label>
              <p style="display:inline">{{course.get_category_display}}</p>

              <br></br>
              <label class="label">Difficulty Level :</label>
              <p style="display:inline">{{course.get_difficulty_level_display}}</p>
            </div>

            {% if course.teacher_id == user %}
            <div
              class="tab-pane fade"
              id="v-pills-requsets"
              role="tabpanel"
              aria-labelledby="v-pills-requsets-tab"
            >
              {% block Messages %} 
              {% include "student_course.html" %}
              {% endblock %}
            </div>
            {% endif %}
          </div>
        </div>

        <div class="col-4">
              <div class="row d-flex justify-content-end align-items-flex-start h-100">
                  <div class="card" style="border-radius: 15px;">
                    <div class="card-body text-center">
                      <div class="mt-3 mb-4">
                        <div class="image">
                          {% if user.profile.image %}
                              <img src="{{ user.profile.image }}" alt="Profile Picture" 
                              class="rounded-circle img-fluid" style="width: 100px;">
                          {% else %}
                              <img src="{% static 'images/blank_profile.png' %}" alt="Profile Picture" 
                              class="rounded-circle img-fluid" style="width: 100px;">
                          {% endif %}
                        </div>
                      </div>
                      <h4 class="mb-2"><a href="/teacher">{{course.teacher_id}}</a></h4>
                      <p class="text-muted mb-4">@{{course.teacher_id.profile.profession}} </p>
                      <div class="mb-4 pb-2">
                        <button type="button" class="btn btn-outline-primary btn-floating">
                          <i class="fab fa-facebook-f fa-lg"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-floating">
                          <i class="fab fa-twitter fa-lg"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-floating">
                          <i class="fab fa-skype fa-lg"></i>
                        </button>
                      </div>
                      <form action='{{course.course_id}}/connect' method='POST'>
                        {% csrf_token %}
                        {% if view == 'P' %}
                        <button type='submit' class="btn btn-primary btn-rounded btn-lg" disabled>
                          Requset Sent
                        </button>
                        {% elif view == 'C' %}
                        <button type='submit' class="btn btn-primary btn-rounded btn-lg" disabled>
                          Signed-up
                        </button>
                        {% elif view == 'D' %}
                        <button type='submit' class="btn btn-primary btn-rounded btn-lg" disabled>
                          Requset Declined
                        </button>
                        {% elif course.teacher_id == user %}
                        {% else %}
                        <button type='submit' class="btn btn-primary btn-rounded btn-lg">
                          Join Course
                        </button>
                        {% endif %}

                      </form>
                      <div class="d-flex justify-content-between text-center mt-5 mb-2">
                        <div>
                          <p class="mb-2 h6">{{course.teacher_id.profile.get_meeting_method_display}}</p>
                          <p class="text-muted mb-0">Meeting Method</p>
                        </div>
                        <div class="px-3">
                          <p class="mb-2 h6">{{course.get_years_of_experience_display}}</p>
                          <p class="text-muted mb-0">Years Of Experience</p>
                        </div>
                        <div>
                          <p class="mb-2 h6">{{course.price}} ₪</p>
                          <p class="text-muted mb-0">Coruse Price</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  <hr>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-3 px-md-5">
        <h5> Course Reviews :</h5>
        <br><br>
        <h7> Number Of Reviews : {{reviews.count}}</h7>
        <br><br>
        <h7> Avrage Rating : {{course.avg_rating_for_course}} / 5</h7>
        <br><br>
        {% if user != course.teacher_id %}
            {% if review_view %}
                    <button type="button" class="btn btn-primary btn-rounded btn-lg" onclick="toggleReviewForm()">Update Review</button>
                <br><br>
                <form action='{{course.course_id}}/delete_review' method="POST">
                {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-rounded btn-lg">Delete Review</button>
                </form>
            {% else %}
                    <button type="button" class="btn btn-primary btn-rounded btn-lg" onclick="toggleReviewForm()">Add Review</button>
            {% endif %}
        {% endif %}
      </div>

    {% if  messages%}
        <div id="reviewFormContainer" class="col-5">
    {% else %}
        <div id="reviewFormContainer" class="col-5" style="display: none;">
    {% endif %}
        <div class="col-5">
        {% if review_view %}
            <form action="{{course.course_id}}/update_review" method="post">
        {% else %}
            <form action="{{course.course_id}}/add_review" method="post">
        {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_rating">Rating:</label>
                    <div class="star-rating">
                    {% if form.rating.value %}
                        {% with form.rating.value|add:'0' as rating_value %}
                        {% for i in "54321" %}
                            {% if rating_value|stringformat:"s" == i %}
                                <input type="radio" name="{{ form.rating.name }}" id="rating-{{ i }}" value="{{ i }}" checked>
                            {% else %}
                                <input type="radio" name="{{ form.rating.name }}" id="rating-{{ i }}" value="{{ i }}">
                            {% endif %}
                            <label for="rating-{{ i }}">&#9733;</label>
                        {% endfor %}
                        {% endwith %}
                    {% else %}
                        {% for i in "54321" %}
                            <input type="radio" name="{{ form.rating.name }}" id="rating-{{ i }}" value="{{ i }}">
                            <label for="rating-{{ i }}">&#9733;</label>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_content" class="col-md-1.5 col-form-label">Content:</label>
                    <div class="col-md-10">
                        {{ form.content }}
                    </div>
                </div>
                <div class="form-group" style="margin-top: 30px;">
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">Submit Review</button>
                        </div>
                    </div>
                </div>
                {% if messages %}
                    <div class="alert alert-danger mt-3">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
      </div>

      {% if reviews%}
      <div class="col-4">
        <div id="carouselExampleControls" class="carousel slide text-center carousel-dark" data-mdb-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                <h5 class="mb-3">{{reviews.first.student.username}}</h5>
                <p>{{reviews.first.student.profile.profession}}</p>
                <p class="text-muted">
                  {{reviews.first.content}}
                </p>
                </div>
              </div>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              {% with ''|center:reviews.first.rating as range %}
              {% for i in range %}
              <li><i class="fas fa-star fa-sm"></i></li>
              {% endfor %}
              {% endwith %}
            </ul>
          </div>
          {% for review in reviews %}
            {% if review != reviews.first%}
              <div class="carousel-item">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                      <h5 class="mb-3">{{review.student.username}}</h5>
                      <p>{{review.student.profile.profession}}</p>
                      <p class="text-muted">
                        {{review.content}}
                      </p>
                    </div>
                  </div>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    {% with ''|center:review.rating as range %}
                    {% for i in range %}
                    <li><i class="fas fa-star fa-sm"></i></li>
                    {% endfor %}
                    {% endwith %}
                  </ul>
                </div>
            {% endif %}
          {% endfor %}
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls"
          data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls"
          data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

        
        </div>
        {% else %}
          <div class="col-4">
            <p>No reviews available</p>
          </div>
        {% endif %}

    </div>
    </div>
  </div>
    <script type="text/javascript" src="{% static 'styles/js/mdb.min.js' %}"></script>
    <script type="text/javascript"></script>
    <script>
    function toggleReviewForm() {
        var reviewFormContainer = document.getElementById("reviewFormContainer");
        if (reviewFormContainer.style.display === "none") {
            reviewFormContainer.style.display = "block";
        } else {
            reviewFormContainer.style.display = "none";
        }
    }
    </script>
  </body>
</html>
{% endblock %}
