{% extends 'main/loggedInPage.html' %}
{% block main_content %}
{% load static %}
    <head>
        <title>Course</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'styles/courses.table.css' %}" type="text/css">
    </head>

    <body>
        <h1 class="Course_list">Course List</h1>
        <br><br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Course Name</th>
                    <th>Owner</th>
                    <th>Price</th>
                    <th>Category</th>
                </tr>
            </thead>
            {% for course in courses %}
            <tbody>
                <td><a href="#">{{course.course_name.capitalize}}</td>
                <td><a href="#">{{course.teacher_id}}</td>
                <td>{{course.price}} ₪</td>
                <td>{{course.get_category_display.capitalize}}</td>
            </tbody>
            {% endfor %}
        </table>
        {% if user.profile.account_type == 'T' or user.profile.account_type == 'B' %}
        <a href="#">
            <button type="button" class="btn btn-success" style="float: right;">Add Course</button></a>
        {% endif %}
    </body>

{% endblock %}
