{% extends 'main/loggedInPage.html' %}
{% load static %}
{% block main_content %}
<div class="container">
    <div class="row">
    {% for review in reviews_by_course %}
        <div class="col-md-4">
            <div class="card bg-light mb-4 box-shadow shadow-sm border rounded">
                <div class="card-body">
                    <h5 class="card-title card-link" data-bs-toggle="collapse">
                        <a>Name: {{ review.student }}</a>
                        <a>Rating: {{ review.rating }}</a>
                    </h5>
                    <p class="card-text text-truncate">{{ review.content }}</p>
                    <form action="{% url 'delete_review' review.pk %}" method="post">
                    {% csrf_token %}
                    {% if user == review.student %}
                      <a href="{% url 'update_review' review.pk %}" class="btn btn-outline-danger btn-light btn-sm"><div>Update review</div></a>
                      <button type="submit" class="btn btn-outline-danger btn-light btn-sm">Delete review</button>
                    {% endif %}
                    </form>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No reviews available.</p>
    {% endfor %}
    </div>
</div>
{% endblock %}
