{% extends 'main/loggedInPage.html' %}
{% block main_content %}
<div class="container">
	<div class="row gutters">
		<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
			<div class="card h-100">
				<div class="card-body">
					<div class="account-settings">
						<div class="user-profile">
							<div class="user-avatar">
								<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
							</div>
						</div>

						
					</div>
				</div>
			</div>
		</div>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Edit Profile</legend>
				{{ user_form.as_p}}
				{{ profile_form.as_p}}
			</fieldset>
			<div class="form-group">
				<br/>
				<button class="btn btn-outline-info" type="submit">Update</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}

