{% extends 'main/loggedInPage.html' %}
{% block main_content %}
{% load static %}

<div class="container">
    <div class="main-body">
    

          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>

    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <div class="image">
                      {% if object.image %}
                          <img src="{{object.image.url}}" class="rounded-circle img-fluid" style="width: 200px;">
                      {% else %}
                          <img src="{% static 'images/blank_profile.png' %}" alt="Profile Picture" 
                          class="rounded-circle img-fluid" style="width: 100px;">
                      {% endif %}
                    </div>
                    <div class="mt-3">
                      <h3>{{ object.user.username }}</h3>
                      <br>
                      <div class="row">
                        <i class="fas fa-info-circle fa-lg me-3 fa-fw"></i>
                        <div class="col-sm-3">
                          <h6 class="mb-0">Subject:</h6>
                        </div>
                        <p class="text-muted font-size-sm">{{object.profession }}</p>
                      </div>
                      <div class="row">
                        <i class="fas fa-shield-alt fa-lg me-3 fa-fw"></i>
                        <div class="col-sm-3">
                          <h6 class="mb-0">Meet:</h6>
                        </div>                        
                        <p class="text-secondary mb-1">{{object.get_meeting_method_display }}</p>
                      </div>
                      <br>
                      <i class="fas fa-briefcase fa-lg me-3 fa-fw"></i>
                      
                      
                      {% if object.account_type == 'S' %}
                        <button class="btn btn-primary">Private Account</button>
                        <button class="btn btn-outline-primary">Business Account</button>
                      {% endif %}
                      {% if object.account_type == 'T' %}
                        <button class="btn btn-primary">Business Account</button>
                        <button class="btn btn-outline-primary">Private Account</button>
                      {% endif %}
                      {% if object.account_type == 'B' %}
                        <button class="btn btn-primary">Business Account</button>
                        <button class="btn btn-primary">Private Account</button>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                    <span class="text-secondary">http://127.0.0.1:8000/</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                    <span class="text-secondary">github.com/redhat-beyond/HighTeach</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ object.user.first_name }} {{ object.user.last_name }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ object.user.email }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{object.phone_number }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">About Me</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{object.bio }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{object.city }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      {% if object.user == request.user %}
                        <a class="btn btn-info " target="__blank" href="edit-profile/">Edit</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <div class="scroll">
      <br>
      {% if user.profile.account_type == 'T' %}
        <h3>My courses : </h3>
      {% endif %}
      <br>
      <div class="articles d-flex justify-content-start">
        <br>
        {% for course in courses %}
          <div class="item">
            {% include "one_course.html" %}
          </div>
        {% endfor %}
      </div>
    </div>

  </div>

{% endblock %}
