<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>High.Teach</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/homePage.css' %}">
  <link rel="icon" href="{% static 'images/HighTeach_logo.jpeg' %}">
</head>

<body>
  <div class="pageHead">
    <img src="{% static 'images/HighTeach_logo.jpeg' %}">
    <h1>High.Teach</h1>
  </div>
  
  <div>
    <p>A platform for connecting students and tutors.</p>
    <p>HighTeach is a social network which enables tutors</p>
	<p>to expose themselves through dynamic connections with potential</p>
    <p>students, based on fields or special needs.</p>
  </div>
  
    <h2>Team members:</h2>
    <div class="row">
      <div class="column">
        <p class="names">Rany Whabi</p>
        <img src="{% static 'images/Rany.jpg' %}">
      </div>
      
      <div class="column">
        <p class="names">Shachar Levy</p>
        <img src="{% static 'images/Shachar.jpg' %}">
      </div>
      
      <div class="column">
       <p class="names">Shiraz Yom Tov</p>
       <img src="{% static 'images/Shiraz.jpeg' %}">
	  </div>
      <div class="column">
        <p class="names">Yarden Gazit</p>
        <img src="{% static 'images/Yarden.jpg' %}">
      </div>
      
      <div class="column">
        <p class="names">David Cohen</p>
        <img src="{% static 'images/David.jpg' %}">
      </div>
      
      <div class="column">
        <p class="names">Idan Rosenberg</p>
        <img src="{% static 'images/Idan.jpg' %}">
      </div>
	</div>
	
</body>
</html>
