{% extends 'base_home.html' %}

{% block content %}
{% load static %}
  <body style="background: linear-gradient(to right,ghostwhite, whitesmoke);">
  <main class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="text-center mb-5 text-success">Welcome to High.Teach</h2>
        <p class="lead my-4">
        High.Teach is a platform for connecting students and tutors.<br>
        It is a social network which enables tutors to expose themselves through dynamic connections with potential students,
        based on fields or special needs.
        </p>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <img src="{% static 'images/HighTeach_logo.jpeg' %}" class="img-fluid" alt="HighTeach logo">
                </div>
            </div>
          </div>
      </div>
    </div>
  </main>
  </body>
{% endblock %}
</html>

