{% extends 'base_home.html' %}

{% block content %}
{% load static %}

<div class="container-fluid" style="margin-top: 40px; float: left; width: 30">
    <div class="row">
        <div class="col-md-2 static">
            <div class="profile-card">
                <img src="{% static 'images/blank_profile.png' %}" alt="user" class="profile-photo">
                <h5><a href="#" class="text-white">{{user.username}}</a></h5>
            {% if user.profile.account_type == 'S' %}
              <div class="text-white">Private Account</div>
            {% endif %}
            {% if user.profile.account_type == 'T' %}
              <div class="text-white">Business Account</div>
            {% endif %}
            {% if user.profile.account_type == 'B' %}
              <div class="text-white"><i class="fa fa-exchange"></i> Business Account</div>
            {% endif %}
            </div>
            <ul class="nav-news-feed">
              <li><i class="fa fa-list-alt icon1"></i><a class="noDecoration" href="#">Feed</a></li>
              <li><i class="fa fa-search"></i><a class="noDecoration" href="#">Search</a></li>
              <li><i class="fa fa-comments icon4"></i><a class="noDecoration" href="#">Messages</a></li>
              <li><i class="fa fa-sharp fa-regular fa-graduation-cap"></i><a class="noDecoration" href="/course">My Courses</a></li>
            {% if user.profile.account_type == 'S' %}
              <li>
                  <i class="fa fa-users icon2"></i>
                  <a class="noDecoration" href="/study-group/list/">Study Groups</a>
              </li>
            {% endif %}
            </ul>
        </div>
        <div class="col-md-10">{% block main_content %} {% endblock %}</div>
    </div>
</div>
{% endblock %}
