html {
  height: 100%;
  width: 100%;
}

h1 {
  font-weight: 600;
  font-family: verdana;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: #93c572;
  background-clip: text;
  -webkit-background-clip: text;
  padding-left: 2%;
}

div{
  font-family: verdana;
  padding-left: 2%;
  font-size: 30px;
}

body {
  text-align: center;
  background-color: #edede3;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

h2{
  font-family: verdana;
  font-size: 35px;
  color: #93c572;
  font-weight: 600;
}

.names{
  font-size: 35px;
}

.pageHead{
  display: flex;
  justify-content: center;
}

.row {
   display: flex;
   justify-content: center;
}

.col {
   text-align: center;
}
